<div class="container">
  <div class="d-flex justify-content-between mt-4 mb-4">
    <a>
      <img src="../assets/Group 1000011533.svg" alt="" />
    </a>
    <a
      >تذكرة رقم #2342
      <img src="../assets/Group 1000009028 (1).svg" alt="" />
    </a>
  </div>
  <div class="row">
    <app-card class="col-12 col-md-4 col-lg-4 myCard mt-4"></app-card>
    <app-chart class="col-12 col-md-8 col-lg-8"></app-chart>
  </div>
  <div class="search d-flex justify-content-between ms-2">
    <div class="left">
      <img src="../assets/Group 1000011440.svg" alt="" />
    </div>
    <div class="right d-flex">
      <img src="../assets/Group 1000011536.svg" alt="" />
      <P class="m-2 myp">مبيعات التذاكر</P>
    </div>
  </div>
  <app-table></app-table>
</div>
<router-outlet />

<!-- <div class="container">
  <div class="d-flex justify-content-between mt-4 mb-4">
    <a href="#">
      <img src="../assets/Group 1000011533.svg" alt="" />
    </a>
    <a>
      تذكرة رقم 
      <img src="../assets/Group 1000009028 (1).svg" alt="" />
    </a>
  </div>
  <div class="row">
    <app-card class="col-4 myCard mt-4"></app-card>
    <apx-chart class="col-8"></apx-chart>

  </div>
  <div class="search d-flex justify-content-between ms-2">
    <div class="left">
      <img src="../assets/Group 1000011440.svg" alt="" />
    </div>
    <div class="right d-flex">
      <img src="../assets/Group 1000011536.svg" alt="" />
      <p class="m-2 myp">مبيعات التذاكر</p>
    </div>
  </div>
  <app-table></app-table>
</div>
<router-outlet /> -->

